.btn {
  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    border-radius: 10rem;
    padding: 1rem 6rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba($color__primary--blue, 0.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color__primary--blue, 0.3);

    @include respond(phone) {
      transform: translateY(0);
    }
   
  }
  &__form {
    letter-spacing: 1px;
    font-family: $font__primary;
    color: $color__primary--white;
    background-color: $color__primary--blue;
    height: 5rem;
    margin-left: 2rem;
    font-size: 1.5rem;

    @include respond(phone) {
      font-size: 1.8rem;
      top: 1.5rem;
      width: 40rem;
      display: block;
      margin: 0 auto;
      margin-top: 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba($color__primary--blue, 0.2);

    }
  }
}
