:root {
  --font-primary: 'Karla', sans-serif;

  --color-primary: hsl(179, 62%, 43%);
  --color-secodary: hsl(71, 73%, 54%);
  --color-gray: hsl(204, 41%, 93%);
  --color-gray-light: hsla(204, 41%, 93%, 0.8);
  --color-gray-blue: hsla(219, 22%, 67%);
}

@mixin color {
  flex-basis: calc(50% - 8rem);
  color: var(--color-gray);
}

@mixin respond($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin link {
  text-transform: capitalize;
  text-decoration: none;
}

html {
  font-family: var(--font-primary);
  font-size: 62.5%;
  box-sizing: border-box;
}
