.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-gray);
}

.container {
  max-width: 72rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  box-shadow: 20px 20px 50px 15px rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  //   margin: 0 auto;
  background-color: #ffffffcc;

  @include respond(699px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__info {
    flex-basis: 100%;
    padding: 2rem 4rem;

    &--heading {
      color: var(--color-primary);
      font-size: 3rem;
    }
    h3 {
      color: var(--color-secodary);
      font-size: 2rem;
      font-weight: normal;
    }
    .info__paragraph {
      color: var(--color-gray-blue);
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }
  &__plan {
    padding: 4rem;
    @include color;
    background-color: var(--color-primary);
    border-bottom-left-radius: inherit;

    @include respond(699px) {
      border-radius: unset;
    }

    & .plan {
      &__sub {
        display: flex;
        align-items: center;
        color: var(--color-gray-light);
      }
      &__price {
        font-size: 4rem;
        padding-right: 1.2rem;
        color: var(--color-gray);
      }
      &__para {
        margin: 5px 0 30px 0;
      }
    }
  }
  &__desc {
    position: relative;
    padding: 4rem;
    background-color: rgba(hsl(179, 62%, 43%), 0.88);
    border-bottom-right-radius: inherit;
    line-height: 1.6;
    @include color;
    @include respond(699px) {
      border-radius: unset;
    }

    & .desc__para {
      color: rgb(229, 238, 244, 0.9);
      list-style-type: none;
      padding: 0;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  @include respond(835px) {
    position: unset;
  }
  .attribution {
    font-size: 1.4rem;
    color: var(--color-primary);
  }
  a {
    &,
    &:link,
    &:visited {
      @include link;
      color: rgba(29, 28, 28, 0.8);
      border-bottom: 1px dotted rgb(29, 28, 28, 0.8);
    }
  }
}
