:root {
   
    // colors
    --color__primary:hsl(322, 100%, 66%);
    --color__white:#ffffff;

    --color__cyan-pale:hsl(193, 100%, 96%);
    --color__cyan-dark:hsl(192, 100%, 9%);
    --color__grey-blue:hsl(208, 11%, 55%);
    --color__footer:hsl(228, 45%, 44%);

    --color__logo--primary:#FF52C1;
    --color__logo--secondary:#00252E;
     // fonts
     --font-primary: 'Poppins', sans-serif;
     --font-secondary: 'Open Sans', sans-serif;

     --font-default: 1.8rem;

     // 
     --page-width:160rem;
     --features-width:140rem;
}