:root {
  //fonts
  --font-primary: "Rubik", sans-serif;

  // font size

  //colors

  --color-primary-blue: hsl(231, 69%, 60%);
  --color-primary-red: hsl(0, 94%, 66%);
  --color-secondary-grayblue: hsl(229, 8%, 60%);
  --color-secondary-darkblue: hsl(229, 31%, 21%);
}
